{% extends 'base.html.twig' %}


{% block body %}

			
			<!-- Our Skill -->
			<section id="our-skill" class="our-skill section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="section-title">
								<h1>About US</h1>
							</div>
						</div>
					</div>
					<div class="row"> 
						<div class="col-md-6 col-sm-12 col-xs-12">
							<div class="skill-text">
								<h2>À propos :</h2>
								<p>Optima-Tech est une entreprise spécialisée dans le développement informatique . Elle fournit un centre de services de niveau international pour accompagner les éditeurs de logiciels, les sociétés de services (SSII), les directions de système d’information (DSI) ou encore les startups innovatrices dans la mise en œuvre de leurs projets informatiques les plus ambitieux.  </p>
								<p>Optima-Tech a évolué du modèle classique des sociétés de services (délégation de personnel) à un centre d’expertise dans l’ingénierie informatique :</p>
								<p> Conseil en architectures logicielles avancées Mise en œuvre de progiciels, de systèmes d’informations et d’applications web et mobiles </p>
								<a href="{{ path('contact') }}" class="btn primary">Contact Us</a>
							</div>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<!-- Single Skill -->
							<div class="single-skill">
								<div class="skill-info">
									<h4>Développement web</h4>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
									<span class="percent">99%</span></div>
								</div>
							</div>
							<!--/ End Single Skill -->
							<!-- Single Skill -->
							<div class="single-skill">
								<div class="skill-info">
									<h4>Développement mobile</h4>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;">
									<span class="percent">95%</span></div>
								</div>
							</div>
							<!--/ End Single Skill -->
							<!-- Single Skill -->
							<div class="single-skill">
								<div class="skill-info">
									<h4>Développement de logiciels sur mesure</h4>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="86" aria-valuemin="0" aria-valuemax="100" style="width: 86%;">
									<span class="percent">86%</span></div>
								</div>
							</div>
							<!--/ End Single Skill -->
							<!-- Single Skill -->
							<div class="single-skill">
								<div class="skill-info">
									<h4>Design</h4>
								</div>
								<div class="progress">
									<div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;">
									<span class="percent">99%</span></div>
								</div>
							</div>
							<!--/ End Single Skill -->
						</div>
					</div>
				</div>
			</section>
			<!--/ End Our Skill -->
			
			<!-- Start Services -->
		<section id="services" class="services section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1>nos services</h1>
							<p>Optima Tech est une SSII Tunisienne  spécialisée en développement  web,  mobile et logiciels sur mesure.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-globe" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Web &amp; SEO</a></h2>
							<p>Optima Tech est spécialisé dans le développement &amp; seo web avec des milliers de projets réussis</p>
						</div>
					</div>
					<!--/ End Single Service -->
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-mobile" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Mobile</a></h2>
							<p>Optima Tech vous propose son expertise dans l'are de développement mobile (Android &amp; IOS) </p>
						</div>
					</div>
					<!--/ End Single Service -->
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Logiciels sur mesure</a></h2>
							<p>Optima Tech est reconnue par la qualité de ses applications: Apps de gestion, Open ERP, Embarqué... </p>
						</div>
					</div>
					<!--/ End Single Service -->
				</div>
			</div>
		</section>
		<!--/ End Services -->
			
			<!-- Start Team -->
			<section id="team" class="team section">
				<div class="container">
					<div class="row">
						<div class="col-md-12 col-sm-12 col-xs-12">
							<div class="section-title">
								<h1>Meet The Team</h1>
								<p>Contry to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece Distinctio tenetur, dolores aperiam, quasi perferendis nemo mollitia</p>
							</div>
						</div>
					</div>
					<div class="row">
						<div class="col-md-3 col-sm-6 col-xs-12">
							<!-- Single Team -->
							<div class="single-team one default">
								<!-- Team Head -->
								<div class="t-head">
									<img src="images/team/team1.jpg" alt=""/>
									<div class="t-hover">
										<ul class="t-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
										</ul>
									</div>
								</div>
								<!-- Team Bottom -->
								<div class="t-bottom">
									<div class="t-icon">
										<a href="#team1"><i class="fa fa-plus"></i></a>
									</div>
									<h2 class="t-name">Angel Rimu</h2>
									<p class="what">Creative</p>
								</div>
							</div>
							<!-- End Single Team -->
						</div>		
						<div class="col-md-3 col-sm-6 col-xs-12">
							<!-- Single Team -->
							<div class="single-team two default">
								<!-- Team Head -->
								<div class="t-head">
									<img src="images/team/team2.jpg" alt=""/>
									<div class="t-hover">
										<ul class="t-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
										</ul>
									</div>
								</div>
								<!-- Team Bottom -->
								<div class="t-bottom">
									<div class="t-icon">
										<a href="#team2"><i class="fa fa-plus"></i></a>
									</div>
									<h2 class="t-name">Shakil Hossain</h2>
									<p class="what">Developer</p>
								</div>
							</div>
							<!-- End Single Team -->
						</div>	
						<div class="col-md-3 col-sm-6 col-xs-12">
							<!-- Single Team -->
							<div class="single-team three default">
								<!-- Team Head -->
								<div class="t-head">
									<img src="images/team/team3.jpg" alt=""/>
									<div class="t-hover">
										<ul class="t-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
										</ul>
									</div>
								</div>
								<!-- Team Bottom -->
								<div class="t-bottom">
									<div class="t-icon">
										<a href="#team3"><i class="fa fa-plus"></i></a>
									</div>
									<h2 class="t-name">Sufia Mizan</h2>
									<p class="what">Branding</p>
								</div>
							</div>
							<!-- End Single Team -->
						</div>		
						<div class="col-md-3 col-sm-6 col-xs-12">
							<!-- Single Team -->
							<div class="single-team four default">
								<!-- Team Head -->
								<div class="t-head">
									<img src="images/team/team4.jpg" alt=""/>
									<div class="t-hover">
										<ul class="t-social">
											<li><a href="#"><i class="fa fa-facebook"></i></a></li>
											<li><a href="#"><i class="fa fa-twitter"></i></a></li>
											<li><a href="#"><i class="fa fa-behance"></i></a></li>
											<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
										</ul>
									</div>
								</div>
								<!-- Team Bottom -->
								<div class="t-bottom">
									<div class="t-icon">
										<a href="#team4"><i class="fa fa-plus"></i></a>
									</div>
									<h2 class="t-name">SM Jehad</h2>
									<p class="what">CEO/Officer</p>
								</div>
							</div>
							<!-- End Single Team -->
						</div>	
					</div>
					<!-- Team Detailes One -->
					<div id="team1" class="team-details  one">
						<a href="#team1" class="cross"><i class="fa fa-remove"></i></a>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-team default">
									<div class="t-head">
										<img src="images/team/team1.jpg" alt=""/>
										<div class="t-hover">
											<ul class="t-social">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
											</ul>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h2>Angel Rimu</h2>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh. Praesent ut luctus dolor. Suspendisse a rutrum arcu. Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada.</p>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh.</p>
								<div class="row">		
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Creative Idea</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100" style="width: 50%;"><span>73%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Web Resource</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span>85%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Success Rate</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="98" aria-valuemin="0" aria-valuemax="100" style="width: 98%;"><span>60%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">UI/UX Design</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span>90%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!--/ End Team Detailes One -->
					<!-- Team Detailes two -->
					<div id="team2" class="team-details  two">
						<a href="#team2" class="cross"><i class="fa fa-remove"></i></a>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-team default">
									<div class="t-head">
										<img src="images/team/team2.jpg" alt=""/>
										<div class="t-hover">
											<ul class="t-social">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
											</ul>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h2>Shakil Hossain</h2>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh. Praesent ut luctus dolor. Suspendisse a rutrum arcu. Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada.</p>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh.</p>
								<div class="row">		
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Web UI</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span>73%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Website Development</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="99" aria-valuemin="0" aria-valuemax="100" style="width: 99%;"><span>85%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Website Maintance</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"><span>60%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Graphics Design</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="76" aria-valuemin="0" aria-valuemax="100" style="width: 76%;"><span>90%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!--/ End Team Detailes two -->
					<!-- Team Detailes Three -->
					<div id="team3" class="team-details three">
						<a href="#team3" class="cross"><i class="fa fa-remove"></i></a>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-team default">
									<div class="t-head">
										<img src="images/team/team3.jpg" alt=""/>
										<div class="t-hover">
											<ul class="t-social">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
											</ul>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h2>Sufia Mizan</h2>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh. Praesent ut luctus dolor. Suspendisse a rutrum arcu. Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada.</p>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh.</p>
								<div class="row">		
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Marketing</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="80" aria-valuemin="0" aria-valuemax="100" style="width: 80%;"><span>73%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Strategy</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="95" aria-valuemin="0" aria-valuemax="100" style="width: 95%;"><span>85%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Customer Success</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="65" aria-valuemin="0" aria-valuemax="100" style="width: 65%;"><span>60%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Total Process</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="85" aria-valuemin="0" aria-valuemax="100" style="width: 85%;"><span>90%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!--/ End Team Detailes Three -->
					<!-- Team Detailes Four -->
					<div id="team4" class="team-details four">
						<a href="#team4" class="cross"><i class="fa fa-remove"></i></a>
						<div class="row">
							<div class="col-md-12 col-sm-12 col-xs-12">
								<div class="single-team default">
									<div class="t-head">
										<img src="images/team/team4.jpg" alt=""/>
										<div class="t-hover">
											<ul class="t-social">
												<li><a href="#"><i class="fa fa-facebook"></i></a></li>
												<li><a href="#"><i class="fa fa-twitter"></i></a></li>
												<li><a href="#"><i class="fa fa-behance"></i></a></li>
												<li><a href="#"><i class="fa fa-dribbble"></i></a></li>				
											</ul>
										</div>
									</div>
								</div>
							</div>	
							<div class="col-md-12 col-sm-12 col-xs-12">
								<h2>SM Jehad</h2>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh. Praesent ut luctus dolor. Suspendisse a rutrum arcu. Aliquam erat volutpat. Phasellus lobortis erat vitae fringilla malesuada.</p>
								<p>Welcome to my website. sit amet, consectetur adipiscing elit. Ut a lectus eu leo faucibus aliquam. Suspendisse eleifend fringilla nibh.</p>
								<div class="row">		
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Branding</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="83" aria-valuemin="0" aria-valuemax="100" style="width: 83%;"><span>73%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Maintance</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0" aria-valuemax="100" style="width: 90%;"><span>85%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Customer Success</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100" style="width: 70%;"><span>60%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
									<div class="col-md-12 col-sm-12 col-xs-12">
										<!-- Single Skill -->
										<div class="single-skill">
											<div class="skill-info">
												<h4 class="title">Managing</h4>
											</div>
											<div class="progress">
												<div class="progress-bar" role="progressbar" aria-valuenow="60" aria-valuemin="0" aria-valuemax="100" style="width: 60%;"><span>90%</span></div>
											</div>
										</div>
										<!--/ End Single Skill -->
									</div>
								</div>
							</div>
						</div>	
					</div>
					<!--/ End Team Detailes Four -->
				</div>
			</section>
			<!--/ End Team -->






{% endblock %}