{% extends 'base.html.twig' %}


{% block body %}

		<!-- Start Projects -->
		<section id="projects" class="projects section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1>Nos Projets</h1>
							<p>E-commerce , Web &amp; SEO , Mobile , Logiciels sur mesure , Design ... </p>
						</div>
					</div>
				</div>
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div id="project-item" class="cbp">
							
							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/1.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>

							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/2.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>

							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/3.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>


							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/4.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>

							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/5.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>

							<div class="cbp-item  webdesign development video branding package">
								<!-- Single Project -->
								<div class="project-single">
									<div class="project-inner">
										<div class="project-head">
											<img src="images/project/6.jpg" alt="#">
										</div>
									</div>
								</div>
								<!--/ End Single Project -->
							</div>
							

							
						</div>
					</div>
				</div>
			</div>
		</section>
		<!--/ End Projects -->
			





{% endblock %}