{% extends 'base.html.twig' %}


{% block body %}

		<!-- Start Services -->
		<section id="services" class="services section">
			<div class="container">
				<div class="row">
					<div class="col-md-12 col-sm-12 col-xs-12">
						<div class="section-title">
							<h1>nos services</h1>
							<p>Optima Tech est une SSII Tunisienne  spécialisée en développement  web,  mobile et logiciels sur mesure.</p>
						</div>
					</div>
				</div>
				<div class="row">
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-globe" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-globe" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Web &amp; SEO</a></h2>
							<p>Optima Tech est spécialisé dans le développement &amp; seo web avec des milliers de projets réussis</p>
						</div>
					</div>
					<!--/ End Single Service -->
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-mobile" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-mobile" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Mobile</a></h2>
							<p>Optima Tech vous propose son expertise dans l'are de développement mobile (Android &amp; IOS) </p>
						</div>
					</div>
					<!--/ End Single Service -->
					<!-- Single Service -->
					<div class="col-md-4 col-sm-6 col-xs-12">
						<div class="single-services">
							<div class="icon"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
							<div class="icon two"><i class="fa fa-window-maximize" aria-hidden="true"></i></div>
							<h2><a href="service-single.html">Logiciels sur mesure</a></h2>
							<p>Optima Tech est reconnue par la qualité de ses applications: Apps de gestion, Open ERP, Embarqué... </p>
						</div>
					</div>
					<!--/ End Single Service -->
				</div>
			</div>
		</section>
		<!--/ End Services -->






{% endblock %}